
:root {
    --primary-color: #002244;  
    --secondary-color: #f4f4f4; 
    --accent-color: #0055aa;  
    --text-color: #333; 
    --white: #ffffff;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--secondary-color);
    color: var(--text-color);
}
header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}


nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s;    
}
nav a:hover {
    color: white;              
    background-color: var(--accent-color); 
    border-radius: 8px;           
}
.resource:hover{
    transform: translateX(1px); 
}
/* Main Content */
main {
    padding: 20px;
    text-align: center;
}
/* Sections */
section {
    margin-bottom: 40px;
    padding: 20px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
/* Robot Cards */
.robot-card {
    display: inline-block;
    width: 300px;
    margin: 15px;
    padding: 15px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.robot-card img {
    width: 100%;
    border-radius: 8px;
}
footer {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}
.menu {
    display: flex;
    gap: 10px;
    justify-content: center;
}
.menu a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}
#menuButton{
    max-width: 50px;
    max-height: 30px;
    display: none;
}
@media (max-width: 1081px) {
    .hamburger {
        display: block; 
    }
    #menuItems {
        display: none; 
        flex-direction: column;
        background-color: var(--primary-color);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 200px;
        border: 1px solid var(--accent-color);
        padding: 10px;
        border-radius: 8px;
    }
    #menuItems.open {
        display: flex; 
    }
}
@media (max-width: 1081px) {
    #menuButton {
        display: block; 
    }
}