/* Heath lyon*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Jersey+10&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Rubik+Vinyl&display=swap');
:root {
    --primary-color: #407076;  
    --secondary-color: #f4f4f4; 
    --third-color: #698996;
    --accent-color: #e0f7fa; 
    --accent-color2: #97B1A6;  
}
body {
    font-family: "roboto Slab", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensure consistent box model */
}

/* Header Styles */
header {
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: 1em 0;
    text-align: center;
}

/* Main Content Styles */
main {
    padding: 20px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    max-width: fit-content;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}
#card1 {
    width: 60%;
}
#card2 {
    width: 35%;
}
.card img {
    float: right;               
    width: 150px;              
    height: auto;               
    margin-top: 1%;           
    margin-left: 10px;          
}
h2 {
    margin-bottom: 20px;
}

.projects {
    display: flex;              
    justify-content: center;     
    gap: 20px;                   
    flex-wrap: wrap;             
    margin-top: 20px;          
}

.project {
    background: var(--accent-color); 
    border: 1px solid #ddd;        
    border-radius: 8px;           
    padding: 20px;                
    width: 200px;                   
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;  
    text-decoration: none;
    color: black;   
    transition: transform 0.3s ease;          
}
.project:hover {
    transform: translateY(-20px); 
}
footer {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    transition: color 0.3s, background-color 0.3s; 
    
}
nav a:hover {
    color: white;              
    background-color: var(--primary-color); 
    border-radius: 8px;           
}
.resource:hover{
    transform: translateX(10px); 
}
li {
    margin-bottom: 20px; 
}
.footerClass{
    font-family: 'Jersey 10', sans-serif;
    font-size: large;
}