
@media (max-width: 1200px) {
    .temple-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1081px) {
    .temple-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (max-width: 711px) {
    .temple-container {
        grid-template-columns: 1fr; 
    }
}
@media (min-width: 1081px) {
    #menuButton {
        display: none; /
    }
} 